/* Global Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

// Variables
$BLACK-COLOR: black;
$WHITE_COLOR: white;

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

header {
  width: 100vw;
  color: $WHITE_COLOR;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;
}

.hamburger {
  @include flex-row;
  width: 100%;
  padding: 2rem 1rem;
  background-color: $BLACK-COLOR;
  position: relative;

  &--menu {
    justify-self: flex-start;
    @include flex-row;
    margin: 1rem;
    z-index: 6000;

    &-box {
      display: inline-block;
      background-color: $WHITE-COLOR;
      width: 2rem;
      height: 3px;
      position: relative;
      transition: 0.3 all ease-in-out;
    }

    &-box::after,
    &-box::before {
      display: block;
      content: '';
      position: absolute;
      background-color: $WHITE_COLOR;
      width: 20px;
      height: 3px;
      top: -6px;
      transition: 0.3s all ease-in-out;
    }

    &-box::after {
      top: 6px;
    }

    &.active &-box {
      & {
        background: $BLACK-COLOR;

        &::before {
          top: 0;
          transform: rotate(135deg);
        }

        &::after {
          top: 0;
          transform: rotate(-135deg);
        }
      }
    }
  }

  &--head {
    width: 80%;
    font-size: 2rem;
    text-align: start;
    z-index: 1000;
  }
}

.mobile__nav--list {
  background-image: linear-gradient(60deg,
      transparent 0%,
      transparent 50%,
      $BLACK-COLOR 50%);
  background-size: 320%;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  transition: 0.4s ease-in-out;
  opacity: 0;
  left: 100%;
  z-index: 200;

  &.open {
    background-position: 100%;
    opacity: 0.98;
    left: 0%;
  }

  & ul {
    @include flex-col;
    height: 100%;
    padding: 3rem;
    padding-top: 6.34rem;

    & li {
      list-style: none;
      padding: 2rem 4rem;
      color: $WHITE-COLOR;
      width: 100%;
      @include flex-row;

      & a,
      & a:visited {
        border-bottom: 2px solid lightgrey;
        min-width: 20rem;
        display: inline-block;
        font-size: 2rem;
        padding: 1rem 2rem;
        color: $WHITE_COLOR;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg,
            transparent 0%,
            transparent 50%,
            $WHITE-COLOR 50%);
        background-size: 230%;
        transition: 0.4s all;

        &:hover,
        &:active {
          background-position: 100%;
          color: $BLACK-COLOR;
        }
      }
    }
  }
}

.welcome {
  @include flex-col;
  padding: 10rem 0 0 0;
  // margin-top: 6.3rem;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(120deg, #000000bb, #000000e8),
    url(https://images.unsplash.com/photo-1521185496955-15097b20c5fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=947&q=80);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $WHITE_COLOR;
  font-size: 1.8rem;
  pointer-events: auto;



  &__img {
    @include flex-col;
    height: 38%;

    & img {
      width: 70%;
      height: auto;
      border-radius: 50%;
      max-width: 100%;
    }
  }


  &__cta {
    @include flex-col;
    text-align: center;
    justify-content: flex-start;
    padding: 2rem;
    height: 65%;

    &--btn,
    &--btn:visited {
      margin-top: auto;
      color: $BLACK-COLOR;
      border-radius: 100rem;
      text-decoration: none;
      padding: 2rem;
      background: $WHITE_COLOR;
      transition: .2s all ease-in-out;

    }

    &--btn:hover,
    &--btn:active {
      transform: scale(1.1);
    }

  }

  &__text {
    text-align: center;
    height: 100%;

    & h1 {
      padding: 4rem 0 1rem 0;
      font-size: 3rem;
    }
  }

}