/* Global Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

@-webkit-keyframes moveInleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

h3 {
  font-size: 3.4rem;
  font-weight: 300;
  text-align: center;
  padding: 1rem;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  width: 95%;
  margin: 0 auto;
  height: 100%;
}

header {
  width: 100vw;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;
  background-color: black;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  position: relative;
}

.hamburger--menu {
  justify-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  z-index: 6000;
}

@media only screen and (min-width: 780px) {
  .hamburger--menu {
    display: none;
  }
}

.hamburger--menu-box {
  display: inline-block;
  background-color: white;
  width: 2rem;
  height: 3px;
  position: relative;
  -webkit-transition: 0.3 all ease-in-out;
  transition: 0.3 all ease-in-out;
}

.hamburger--menu-box::after, .hamburger--menu-box::before {
  display: block;
  content: '';
  position: absolute;
  background-color: white;
  width: 20px;
  height: 3px;
  top: -6px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.hamburger--menu-box::after {
  top: 6px;
}

.hamburger--menu.active .hamburger--menu-box {
  background: black;
}

.hamburger--menu.active .hamburger--menu-box::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.hamburger--menu.active .hamburger--menu-box::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.hamburger--head {
  width: 80%;
  font-size: 2rem;
  text-align: start;
  z-index: 1000;
}

.mobile__nav--list {
  background-image: linear-gradient(60deg, transparent 0%, transparent 50%, black 50%);
  background-size: 320%;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  opacity: 0;
  left: 100%;
  z-index: 200;
}

.mobile__nav--list.open {
  background-position: 100%;
  opacity: 0.98;
  left: 0%;
}

.mobile__nav--list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 3rem;
  padding-top: 6.34rem;
}

.mobile__nav--list ul li {
  list-style: none;
  padding: 2rem 4rem;
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__nav--list ul li a,
.mobile__nav--list ul li a:visited {
  border-bottom: 2px solid lightgrey;
  min-width: 20rem;
  display: inline-block;
  font-size: 2rem;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 230%;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.mobile__nav--list ul li a:hover, .mobile__nav--list ul li a:active,
.mobile__nav--list ul li a:visited:hover,
.mobile__nav--list ul li a:visited:active {
  background-position: 100%;
  color: black;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10rem 0 0 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(120deg, #000000bb, #000000e8), url(https://images.unsplash.com/photo-1521185496955-15097b20c5fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=947&q=80);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 1.8rem;
}

.welcome__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44%;
}

.welcome__img img {
  width: 60%;
  max-width: 30rem;
  height: auto;
  border-radius: 50%;
}

.welcome__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem;
  height: 60%;
}

.welcome__cta--btn, .welcome__cta--btn:visited {
  margin-top: auto;
  color: black;
  border-radius: 100rem;
  text-decoration: none;
  padding: 2rem;
  background: white;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.welcome__cta--btn:hover, .welcome__cta--btn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.welcome__text {
  text-align: center;
  height: 50%;
}

.welcome__text h1 {
  padding: 4rem 0 1rem 0;
  font-size: 3rem;
}

.about {
  padding: 3rem 0;
  position: relative;
}

.about__text {
  height: 25rem;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(black));
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), black);
  mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(black));
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), black);
  -webkit-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
  scroll-behavior: smooth;
}

.about__text p {
  line-height: 1.6;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__text.full-about {
  height: 100%;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(black), to(black));
  -webkit-mask-image: linear-gradient(to top, black, black);
  mask-image: -webkit-gradient(linear, left bottom, left top, from(black), to(black));
  mask-image: linear-gradient(to top, black, black);
}

.about__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
  -webkit-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}

.about__arrow.up-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contact {
  background: black;
  color: white;
}

.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 90%;
  padding: 2rem 0;
  max-width: 53rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__links--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.4rem;
  text-decoration: none;
  color: white;
}

.contact__links--box span {
  font-size: 1.4rem;
  margin-top: .8rem;
}

footer {
  background: #313131;
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
  color: white;
}
/*# sourceMappingURL=main.css.map */