// Variables
$BLACK-COLOR: black;
$WHITE_COLOR: white;

// breakpoints 
$bp-med: 667px;
$bp-lg: 1126px;

/* Global Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;

}


@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 3.4rem;
  font-weight: 300;
  text-align: center;
  padding-bottom: 1rem;

  @media only screen and (min-width: $bp-med) {
    font-size: 5rem;

  }
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  width: 95%;
  margin: 0 auto;
  height: 100%;

  @media only screen and (min-width: $bp-med) {
    width: 80%;
    max-width: 112.6rem;
  }
}

header {
  width: 100vw;
  color: $WHITE_COLOR;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;
  background-color: $BLACK-COLOR;

}

.hamburger {
  @include flex-row;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 1rem;
  position: relative;


  &__desktop--nav {
    display: none;

    @media only screen and (min-width: $bp-med) {
      display: block;
    }

    & ul {
      @media only screen and (min-width: $bp-med) {
        @include flex-row
      }

      & li {
        list-style: none;
        padding: 0 2rem;
        font-size: 2rem;

        & a {
          color: $WHITE_COLOR;
          text-decoration: none;
        }
      }

    }
  }

  &--menu {
    justify-self: flex-start;
    @include flex-row;
    margin: 1rem;
    z-index: 6000;

    @media only screen and (min-width: $bp-med) {
      display: none;
    }

    &-box {
      display: inline-block;
      background-color: $WHITE-COLOR;
      width: 20px;
      height: 3px;
      position: relative;
      transition: 0.3 all ease-in-out;
    }

    &-box::after,
    &-box::before {
      display: block;
      content: '';
      position: absolute;
      background-color: $WHITE_COLOR;
      width: 20px;
      height: 3px;
      top: -6px;
      transition: 0.3s all ease-in-out;
    }

    &-box::after {
      top: 6px;
    }

    &.active &-box {
      & {
        background: $BLACK-COLOR;

        &::before {
          top: 0;
          transform: rotate(135deg);
        }

        &::after {
          top: 0;
          transform: rotate(-135deg);
        }
      }
    }
  }

  &--head {
    // width: 80%;
    font-size: 2rem;
    text-align: start;
    z-index: 1000;

    @media only screen and (min-width: $bp-med) {
      font-size: 3rem;

    }
  }
}

.mobile__nav--list {
  background-image: linear-gradient(60deg,
      transparent 0%,
      transparent 50%,
      $BLACK-COLOR 50%);
  background-size: 330%;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  transition: 0.4s ease-in-out;
  opacity: 0;
  left: 100%;
  z-index: 200;

  &.open {
    background-position: 100%;
    opacity: 0.98;
    left: 0%;
  }

  & ul {
    @include flex-col;
    height: 100%;
    padding: 3rem;
    padding-top: 6.34rem;

    & li {
      list-style: none;
      padding: 2rem 4rem;
      color: $WHITE-COLOR;
      width: 100%;
      @include flex-row;

      & a,
      & a:visited {
        border-bottom: 2px solid lightgrey;
        min-width: 20rem;
        display: inline-block;
        font-size: 2rem;
        padding: 1rem 2rem;
        color: $WHITE_COLOR;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg,
            transparent 0%,
            transparent 50%,
            $WHITE-COLOR 50%);
        background-size: 230%;
        transition: 0.4s all;

        &:hover,
        &:active {
          background-position: 100%;
          color: $BLACK-COLOR;
        }
      }
    }
  }
}

.welcome {
  @include flex-col;
  padding: 10rem 0 0 0;
  // margin-top: 6.3rem;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 72rem;
  background-image: linear-gradient(120deg, #000000bb, #000000e8),
    url(https://images.unsplash.com/photo-1521185496955-15097b20c5fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=947&q=80);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $WHITE_COLOR;
  font-size: 1.8rem;

  .welcome___container {
    @media only screen and (min-width: $bp-med) {
      @include flex-row;
      justify-content: space-between;
    }
  }

  &__img {
    @include flex-col;
    height: 44%;
    max-height: 25rem;
    margin: 3rem;

    @media only screen and (min-width: $bp-med) {
      height: 100%;
      width: 38%;
    }

    & img {
      width: 80%;
      max-width: 30rem;
      height: auto;
      object-fit: cover;
      border-radius: 50%;

      @media only screen and (min-width: $bp-med) {
        max-width: 40rem;
        width: 100%;
      }
    }
  }


  &__cta {
    @include flex-col;
    text-align: center;
    justify-content: flex-start;
    padding: 2rem;
    height: 40%;

    @media only screen and (min-width: $bp-med) {
      height: 0;
    }

    &--btn,
    &--btn:visited {
      font-family: Arial, Helvetica, sans-serif;
      margin-top: auto;
      color: $BLACK-COLOR;
      border-radius: 100rem;
      text-decoration: none;
      padding: 1.4rem;
      font-weight: 700;
      background: $WHITE_COLOR;
      transition: .2s all ease-in-out;
      font-size: 1.4rem;

      @media only screen and (min-width: $bp-lg) {
        font-size: 2rem;
        padding: 2.4rem;
        font-weight: 700;
      }

    }

    &--btn:hover,
    &--btn:active {
      transform: scale(1.1);
    }

  }

  &__text {
    text-align: center;
    height: 40%;
    @include flex-col;
    justify-content: space-between;

    @media only screen and (min-width: $bp-med) {
      height: 100%;
      width: 55%;
      font-size: 3rem;
      justify-content: center;
    }
  }

  & h1 {
    padding-bottom: 1rem;
    font-size: 3rem;

    @media only screen and (min-width: $bp-med) {
      font-size: 4rem;
    }

    @media only screen and (min-width: $bp-lg) {
      font-size: 7rem;
    }

  }
}


.about {
  padding: 7rem 0 3rem 0;
  position: relative;

  &__text {
    height: 25rem;
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    transition: .1s all ease-in-out;
    scroll-behavior: smooth;

    & p {
      line-height: 1.6;
      font-size: 1.4rem;
      margin-bottom: 1rem;

      @media only screen and (min-width: $bp-lg) {
        font-size: 2.4rem;
      }
    }

    &.full-about {
      height: 100%;
      -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
      mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    }
  }

  &__arrow {
    @include flex-row;
    font-size: 3rem;
    transition: .1s all ease-in-out;

    &.up-arrow {
      transform: rotate(180deg);
    }
  }
}

.project {
  padding: 7rem 0;
  background-image:
    url(https://images.unsplash.com/photo-1499673610122-01c7122c5dcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=926&q=80);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $WHITE_COLOR;

  & h3 {
    text-shadow: 2px 2px rgb(0, 0, 0);
  }

  &__slides {
    @media only screen and (min-width: $bp-lg) {
      @include flex-row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__tile {
    padding: 2rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.534);
    background: $BLACK-COLOR;
    color: $WHITE_COLOR;
    border-radius: 2rem;
    width: 90%;
    max-width: 45rem;
    margin: 2rem auto;

    @media only screen and (min-width: $bp-lg) {
      width: 45%;
      min-height: 43.3rem;
    }

    &--img {
      width: 100%;
      @include flex-row;

      @media only screen and (min-width: $bp-med) {
        min-height: 15rem;
      }

      & img {
        max-width: 100%;
        // object-fit: cover;

      }
    }

    &--title {
      padding: 1rem 0;
      font-size: 2rem;
      font-weight: 400;

      @media only screen and (min-width: $bp-med) {
        font-size: 3rem;
      }
    }

    &--desc {
      font-size: 1.4rem;
      line-height: 1.6;

      @media only screen and (min-width: $bp-med) {
        font-size: 2rem;
      }
    }

    & a {
      border-radius: 2rem;
      font-size: 1.6rem;
      font-weight: 900;
      text-decoration: none;
      color: $BLACK-COLOR;
      display: inline-block;
      background: $WHITE_COLOR;
      padding: .8rem 3rem;
      margin-top: 1.4rem;
      transition: .3s all ease-in-out;

      &:hover {
        opacity: .9;
        transform: scale(1.1);
      }
    }
  }
}

.contact {
  background: $BLACK-COLOR;
  color: $WHITE_COLOR;
  padding: 6rem 0;

  &__links {
    @include flex-row;
    margin: 2rem auto;
    width: 95%;
    padding: 2rem 0;
    max-width: 53rem;
    justify-content: space-between;

    @media only screen and (min-width: $bp-lg) {
      max-width: 70rem;
    }

    &--box {
      @include flex-col;
      font-size: 2rem;
      text-decoration: none;
      color: $WHITE_COLOR;
      width: 6rem;
      height: 5rem;
      transition: .2s all ease-out;

      @media only screen and (min-width: $bp-med) {
        width: 10rem;
        height: 10rem;
        font-size: 3rem;
      }

      &:hover,
      &:active {
        background-color: $WHITE-COLOR;
        color: $BLACK-COLOR;
        border-radius: .6rem;
        transform: scale(1.2);
      }

      & span {
        font-size: 1.1rem;
        margin-top: .8rem;

        @media only screen and (min-width: $bp-med) {
          font-size: 2rem;
        }
      }
    }
  }
}

footer {
  background: rgb(49, 49, 49);
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
  color: $WHITE_COLOR;
}